#parse("provider/common/generic_resource.yaml.vm")
#foreach($compute in ${deployment.computes})
#providerResourceNode(${compute.nodeTemplate.type}, $compute)
#set( $publicNetworks = ${util.network.getExternalNetworks($compute)} )
#set( $privateNetworks = ${util.network.getInternalNetworks($compute)} )
#if($util.collectionHasElement(${publicNetworks}) || $util.collectionHasElement(${privateNetworks}))
    relationships:
#foreach($internalNetwork in $privateNetworks)
      - target: ${internalNetwork.id}
        type: cloudify.relationships.connected_to
      - target: ${internalNetwork.id}_subnet
        type: cloudify.relationships.depends_on
#end
#foreach($externalNetwork in $publicNetworks)
      - target: ${mapping.generatedNodePrefix}_floating_ip_${compute.id}_on_${externalNetwork.id}
        type: cloudify.openstack.server_connected_to_floating_ip
  ${mapping.generatedNodePrefix}_floating_ip_${compute.id}_on_${externalNetwork.id}:
    type: ${externalNetwork.nodeTemplate.type}
    properties: ${util.common.formatProperties(3, $externalNetwork.nodeTemplate.properties)}
#end
#end
#end