#foreach($network in ${deployment.internalNetworks})
  ${network.id}:
    type: ${network.nodeTemplate.type}
    properties:
      resource_id: ${network.id}
${util.natives.formatProperties(3, ${network.nodeTemplate.properties}, ${util.natives.loadPropertyMapping(${network.indexedToscaElement}, "_a4c_c3_network_prop_map")})}
  ${mapping.generatedNodePrefix}_${network.id}_subnet:
    type: cloudify.openstack.nodes.Subnet
    properties:
      resource_id: ${network.id}_subnet
${util.natives.formatProperties(3, ${network.nodeTemplate.properties}, ${util.natives.loadPropertyMapping(${network.indexedToscaElement}, "_a4c_c3_subnet_prop_map")})}
    relationships:
      - target: ${network.id}
        type: cloudify.relationships.contained_in
#end