#foreach($volumeTemplate in ${deployment.volumes})
  ${volumeTemplate.id}:
    type: ${volumeTemplate.nodeTemplate.type}
#if(${volumeTemplate.nodeTemplate.type}=="alien.cloudify.openstack.nodes.Volume")
    interfaces:
      cloudify.interfaces.lifecycle:
        delete: {}
#end
    properties: ${util.common.formatProperties(3, $volumeTemplate.nodeTemplate.properties, $deployment.propertyMappings.get($volumeTemplate.nodeTemplate.type))}
#end
