## Native types
#if($util.common.collectionHasElement(${deployment.nativeTypes}))
#foreach($nativeType in ${deployment.nativeTypes})
  ${nativeType.elementId}:
    derived_from: ${util.natives.mapToCloudifyType($nativeType)}
#set($getPersistentResourceId = ${util.natives.getPersistentResourceId($nativeType.tags)})
#set($attributeMappings = ${util.natives.getAttributesMapping($nativeType.attributes)})
#if(${util.mapHasEntries($attributeMappings)} || $persistentResourceMapping)
    properties:
#foreach($attributeMapping in ${attributeMappings.entrySet()})
      _a4c_att_$attributeMapping.key:
        default:
          function: ${attributeMapping.value.function}
          parameters:
#foreach($parameter in ${attributeMapping.value.parameters})
            - $parameter
#end
#end
#if($getPersistentResourceId)
      _a4c_persistent_resource_id:
        default: "${getPersistentResourceId}"
#end
#end
#end
#end
#parse("provider/${deployment.locationType}/provider_types.yaml.vm")