/target
.classpath
.project
.settings
/.idea/
*.iml
src/test/resources/outputs/**/monitor
src/test/resources/outputs/**/plugins/cloudify-openstack-plugin
src/test/resources/outputs/**/plugins/*.zip
*.DS_Store