#*
This template is used to generate cloudify 3 recipe from alien model
- $mapping --> contains specific IaaS mapping loaded from src/main/resources/mapping/$provider.yaml
- $cloud --> contains alien4cloud.paas.cloudify3.configuration.CloudConfiguration instance
- $deployment --> contains Alien's deployment and types
- $provider_types --> template file for specific provider types
*#
tosca_definitions_version: $mapping.dsl_version

imports:
#foreach($import in $mapping.imports)
    - $import
#end

#parse("$provider_types_file")

node_templates:
#foreach($compute in $deployment.computes)
    $compute.paaSNodeTemplate.id:
        type: ${mapping.generated_type_prefix}.computes.$compute.computeTemplateId
        instances:
            deploy: 1
#end