#*
This template is used to generate cloudify 3 recipe from alien model
- $mapping --> contains specific IaaS mapping loaded from src/main/resources/mapping/$provider.yaml
- $cloud --> contains alien4cloud.paas.cloudify3.configuration.CloudConfiguration instance
- $deployment --> contains Alien's deployment and types
- $provider_types --> template file for specific provider types
*#
tosca_definitions_version: $mapping.dslVersion

imports:
  - http://www.getcloudify.org/spec/cloudify/3.1/types.yaml
#foreach($import in $providerMapping.imports)
  - $import
#end

node_types:

#parse("$provider_types_file")

## TODO This is copied from http://www.getcloudify.org/spec/cloudify/3.2m4/types.yaml
## TODO We must remove this once we migrate to cloudify 3.2
#if($util.hasConfiguredVolume($deployment.volumes))
  ${mapping.generatedTypePrefix}.cloudify.nodes.FileSystem:
    derived_from: cloudify.nodes.Root
    properties:
      use_external_resource:
        description: >
          Enables the use of already formatted volumes.
        type: boolean
        default: false
      partition_type:
        description: >
          The partition type. 83 is a Linux Native Partition.
        type: integer
        default: 83
      fs_type:
        description: >
          The type of the File System.
          Supported types are [ext2, ext3, ext4, fat, ntfs, swap]
        type: string
      fs_mount_path:
        description: >
          The path of the mount point.
        type: string
    interfaces:
      cloudify.interfaces.lifecycle:
        configure:
          implementation: cfy3_native/volume/mkfs.sh
#end
#if($util.collectionHasElement($deployment.nonNativesTypes))
#foreach($nonNativeType in ${deployment.nonNativesTypes})
  ${nonNativeType.elementId}:
    derived_from: $util.getDerivedFromType($nonNativeType.derivedFrom)
#if($util.mapHasEntries($nonNativeType.properties))
    properties:
#foreach($propertyEntry in ${nonNativeType.properties.entrySet()})
      $propertyEntry.key:
        type: string
#if ($propertyEntry.value.default)
        default: "$propertyEntry.value.default"
#else
        default: ""
#end
#end
#end
#set( $nodeTypeInterfacesWithoutParameters = $util.getInterfaces($nonNativeType, false) )
#if($util.mapHasEntries($nodeTypeInterfacesWithoutParameters))
    interfaces:
#foreach($interfaceEntry in $nodeTypeInterfacesWithoutParameters.entrySet())
      $util.tryToMapToCloudifyInterface($interfaceEntry.key):
#foreach($operationEntry in ${interfaceEntry.value.operations.entrySet()})
        $operationEntry.key: $nonNativeType.archiveName/$nonNativeType.elementId/$operationEntry.value.implementationArtifact.artifactRef
#end
#end
#end
#end
#end

#if($util.hasConfiguredVolume($deployment.volumes) || $util.collectionHasElement($deployment.nonNativesRelationshipTypes))
relationships:
## TODO This is copied from http://www.getcloudify.org/spec/cloudify/3.2m4/types.yaml
## TODO We must remove this once we migrate to cloudify 3.2
#if($util.hasConfiguredVolume($deployment.volumes))
  ${mapping.generatedTypePrefix}.cloudify.relationships.file_system_depends_on_volume:
    derived_from: cloudify.relationships.depends_on
    source_interfaces:
      cloudify.interfaces.relationship_lifecycle:
        preconfigure:
          implementation: cfy3_native/volume/fdisk.sh
  ${mapping.generatedTypePrefix}.cloudify.relationships.file_system_contained_in_compute:
    derived_from: cloudify.relationships.contained_in
    source_interfaces:
      cloudify.interfaces.relationship_lifecycle:
        establish:
          implementation: cfy3_native/volume/mount.sh
        unlink:
          implementation: cfy3_native/volume/unmount.sh
#end
#if($util.collectionHasElement($deployment.nonNativesRelationshipTypes))
#foreach($nonNativeRelationshipType in ${deployment.nonNativesRelationshipTypes})
  ${nonNativeRelationshipType.elementId}:
    derived_from: $util.getDerivedFromType($nonNativeRelationshipType.derivedFrom)
#set( $relationshipTypeInterfacesWithoutParameters = $util.getInterfaces($nonNativeRelationshipType, false) )
#if($util.mapHasEntries($relationshipTypeInterfacesWithoutParameters))
#set( $relationshipTypeSourceInterfacesWithoutParameters = $util.getRelationshipSourceInterfaces($relationshipTypeInterfacesWithoutParameters) )
#if($util.mapHasEntries($relationshipTypeSourceInterfacesWithoutParameters))
    source_interfaces:
#foreach($interfaceEntry in $relationshipTypeSourceInterfacesWithoutParameters.entrySet())
      $util.tryToMapToCloudifyRelationshipInterface($interfaceEntry.key):
#foreach($operationEntry in ${interfaceEntry.value.operations.entrySet()})
        $util.tryToMapToCloudifyRelationshipSourceInterfaceOperation($operationEntry.key): $nonNativeRelationshipType.archiveName/$nonNativeRelationshipType.elementId/$operationEntry.value.implementationArtifact.artifactRef
#end
#end
#end
#set( $relationshipTypeTargetInterfacesWithoutParameters = $util.getRelationshipTargetInterfaces($relationshipTypeInterfacesWithoutParameters) )
#if($util.mapHasEntries($relationshipTypeTargetInterfacesWithoutParameters))
    target_interfaces:
#foreach($interfaceEntry in $relationshipTypeTargetInterfacesWithoutParameters.entrySet())
      $util.tryToMapToCloudifyRelationshipInterface($interfaceEntry.key):
#foreach($operationEntry in ${interfaceEntry.value.operations.entrySet()})
        $util.tryToMapToCloudifyRelationshipTargetInterfaceOperation($operationEntry.key): $nonNativeRelationshipType.archiveName/$nonNativeRelationshipType.elementId/$operationEntry.value.implementationArtifact.artifactRef
#end
#end
#end
#end
#end
#end
#end

node_templates:

#parse("$provider_nodes_file")

#foreach($nonNativeNode in $deployment.nonNatives)
  $nonNativeNode.id:
    type: $nonNativeNode.indexedToscaElement.elementId
    instances:
      deploy: 1
#if($util.mapHasEntries($nonNativeNode.nodeTemplate.properties))
    properties:
#foreach($property in $nonNativeNode.nodeTemplate.properties.entrySet())
#if($property.getValue())
      $property.getKey(): "$util.formatNodeOperationInput($nonNativeNode, $property.getValue())"
#end
#end
#end
#set( $relationshipInterfacesWithParameters = $util.getInterfaces($nonNativeNode.indexedToscaElement, true) )
#if($util.mapHasEntries($relationshipInterfacesWithParameters))
    interfaces:
#foreach($interfaceEntry in $relationshipInterfacesWithParameters.entrySet())
      $util.tryToMapToCloudifyInterface($interfaceEntry.key):
#foreach($operationEntry in ${interfaceEntry.value.operations.entrySet()})
        $operationEntry.key:
          implementation: $nonNativeNode.indexedToscaElement.archiveName/$nonNativeNode.indexedToscaElement.elementId/$operationEntry.value.implementationArtifact.artifactRef
          inputs:
            process:
              env:
#foreach($inputEntry in $operationEntry.value.inputParameters.entrySet())
                $inputEntry.key: $util.formatNodeOperationInput($nonNativeNode, $inputEntry.value)
#end
#end
#end
#end
#set( $relationshipTemplates = $util.getSourceRelationships($nonNativeNode) )
#set( $attachedVolume = $util.getConfiguredAttachedVolume($nonNativeNode) )
#if($util.collectionHasElement($relationshipTemplates) || $attachedVolume)
    relationships:
#if($attachedVolume)
      - target: ${mapping.generatedNodePrefix}_file_system_${attachedVolume.id}
        type: cloudify.relationships.depends_on
#end
#foreach($relationship in $relationshipTemplates)
      - target: $relationship.relationshipTemplate.target
        type: $util.tryToMapToCloudifyType($relationship.indexedToscaElement.elementId)
#set( $relationshipInterfacesWithParameters = $util.getInterfaces($relationship.indexedToscaElement, true) )
#if($util.mapHasEntries($relationshipInterfacesWithParameters))
#set( $relationshipSourceInterfacesWithParameters = $util.getRelationshipSourceInterfaces($relationshipInterfacesWithParameters) )
#if($util.mapHasEntries($relationshipSourceInterfacesWithParameters))
        source_interfaces:
#foreach($interfaceEntry in $relationshipSourceInterfacesWithParameters.entrySet())
          $util.tryToMapToCloudifyRelationshipInterface($interfaceEntry.key):
#foreach($operationEntry in ${interfaceEntry.value.operations.entrySet()})
            $util.tryToMapToCloudifyRelationshipSourceInterfaceOperation($operationEntry.key):
              implementation: $relationship.indexedToscaElement.archiveName/$relationship.indexedToscaElement.elementId/$operationEntry.value.implementationArtifact.artifactRef
              inputs:
                process:
                  env:
#foreach($inputEntry in $operationEntry.value.inputParameters.entrySet())
                    $inputEntry.key: $util.formatRelationshipOperationInput($relationship, $inputEntry.value)
#end
#end
#end
#end
#set( $relationshipTargetInterfacesWithParameters = $util.getRelationshipTargetInterfaces($relationshipInterfacesWithParameters) )
#if($util.mapHasEntries($relationshipTargetInterfacesWithParameters))
        target_interfaces:
#foreach($interfaceEntry in $relationshipTargetInterfacesWithParameters.entrySet())
          $util.tryToMapToCloudifyRelationshipInterface($interfaceEntry.key):
#foreach($operationEntry in ${interfaceEntry.value.operations.entrySet()})
            $util.tryToMapToCloudifyRelationshipTargetInterfaceOperation($operationEntry.key):
              implementation: $relationship.indexedToscaElement.archiveName/$relationship.indexedToscaElement.elementId/$operationEntry.value.implementationArtifact.artifactRef
              inputs:
                process:
                  env:
#foreach($inputEntry in $operationEntry.value.inputParameters.entrySet())
                    $inputEntry.key: $util.formatRelationshipOperationInput($relationship, $inputEntry.value)
#end
#end
#end
#end
#end
#end
#end
#end