## Compute templates
#foreach($computeTemplateEntry in $cloud.computeTemplates.entrySet())
  ${mapping.generatedTypePrefix}.computes.${computeTemplateEntry.key}:
    derived_from: $providerMapping.nativeTypes.computeType
    properties:
      server:
        default:
          image_name: $computeTemplateEntry.value.image
          size_name: $computeTemplateEntry.value.flavor
#end
## Floating IP
  ${mapping.generatedTypePrefix}.floating_ip:
    derived_from: $providerMapping.nativeTypes.floatingIpType
## TODO Network
## TODO Volume