## Compute templates
#foreach($computeTemplateEntry in $cloud.computeTemplates.entrySet())
  ${mapping.generatedTypePrefix}.computes.${computeTemplateEntry.key}:
    derived_from: $providerMapping.nativeTypes.computeType
    properties:
      server:
        default:
          image: $computeTemplateEntry.value.image
          flavor: $computeTemplateEntry.value.flavor
#end
#foreach($volumeTemplateEntry in ${cloud.volumeTemplates.entrySet()})
  ${mapping.generatedTypePrefix}.volumes.${volumeTemplateEntry.key}:
    derived_from: ${providerMapping.nativeTypes.volumeType}
    properties:
#if(${volumeTemplateEntry.value.deviceName})
      default:
        device_name: ${volumeTemplateEntry.value.deviceName}
#end
      volume:
        default:
          size: ${volumeTemplateEntry.value.size}
#end