node_types:
## Compute templates
#foreach($computeTemplateEntry in $cloud.computeTemplates.entrySet())
  ${mapping.generatedTypePrefix}.computes.${computeTemplateEntry.key}:
    derived_from: $mapping.nativeTypes.computeType
    properties:
      server:
        default:
          image: $computeTemplateEntry.value.image
          flavor: $computeTemplateEntry.value.flavor
#end
## TODO Network
## TODO Volume
#foreach($nonNativeType in ${deployment.nonNativesTypes})
  ${nonNativeType.elementId}:
    derived_from: $util.getDerivedFromType($nonNativeType.derivedFrom)
#if($util.mapHasEntries($nonNativeType.properties))
    properties:
#foreach($propertyEntry in ${nonNativeType.properties.entrySet()})
      $propertyEntry.key:
        type: #if($propertyEntry.value.type == "version")string$newline#else$propertyEntry.value.type$newline#end
        default: $propertyEntry.value.default
#end
#end
#if($util.typeHasInterfaces($nonNativeType))
    interfaces:
#foreach($interfaceEntry in ${nonNativeType.interfaces.entrySet()})
      $util.tryToMapToCloudifyInterface($interfaceEntry.key):
#foreach($operationEntry in ${interfaceEntry.value.operations.entrySet()})
        $operationEntry.key: $nonNativeType.archiveName/$nonNativeType.elementId/$operationEntry.value.implementationArtifact.artifactRef
#end
#end
#end
#end
#if($util.collectionHasElement($deployment.nonNativesRelationshipTypes))
relationships:
#foreach($nonNativeRelationshipType in ${deployment.nonNativesRelationshipTypes})
  ${nonNativeRelationshipType.elementId}:
    derived_from: $util.getDerivedFromType($nonNativeRelationshipType.derivedFrom)
#if($util.typeHasInterfaces($nonNativeRelationshipType))
    source_interfaces:
#foreach($interfaceEntry in ${nonNativeRelationshipType.interfaces.entrySet()})
      $util.tryToMapToCloudifyRelationshipInterface($interfaceEntry.key):
#foreach($operationEntry in ${interfaceEntry.value.operations.entrySet()})
        $util.tryToMapToCloudifyRelationshipInterfaceOperation($operationEntry.key):
          implementation: $nonNativeRelationshipType.archiveName/$nonNativeRelationshipType.elementId/$operationEntry.value.implementationArtifact.artifactRef
#end
#end
#end
#end
#end