#macro(deploymentArtifactEntry $artifactName $artifactPath)
#if($util.isArtifactDirectory($artifactPath))
#set ( $nodeArtifactChildrenPaths = $util.listArtifactDirectory($artifactPath) )
#if($util.mapHasEntries($nodeArtifactChildrenPaths))
    "$artifactName": [
#foreach($nodeArtifactChildPathEntry in $nodeArtifactChildrenPaths.entrySet())
        {
            "relative_path": "$nodeArtifactChildPathEntry.key",
            "absolute_path": "$nodeArtifactChildPathEntry.value"
        }
#if($foreach.count < $nodeArtifactChildrenPaths.size())
        ,
#end
#end
    ]
#end
#else
    "$artifactName": "$artifactPath"
#end
#end

#include("../artifacts/non_native/script_wrapper_static.py")

#if($util.operationHasDeploymentArtifacts($operation))
#include("../artifacts/non_native/download_artifacts.py")
#end

class OutputConsumer(object):
    def __init__(self, out):
        self.out = out
        self.buffer = StringIO()
        self.consumer = threading.Thread(target=self.consume_output)
        self.consumer.daemon = True
        self.consumer.start()

    def consume_output(self):
        for line in iter(self.out.readline, b''):
#if($cloud.debugScript)
            ctx.logger.info("${operation.implementationArtifact.artifactRef} : " + line)
#end
            self.buffer.write(line)
        self.out.close()

    def join(self):
        self.consumer.join()

new_script_process = {
#if($util.operationHasInputParameters($operation))
    "env": {
#foreach($inputEntry in $operation.inputParameters.entrySet())
#if($util.isFunctionPropertyValue($inputEntry.value))
        "$inputEntry.key": $util.formatFunctionPropertyValue($inputEntry.value)
#else
        "$inputEntry.key": "$inputEntry.value.value"
#end
#end
        "WEB_APP_HOST_IP": get_attribute(ctx.source, 'ip'),
        "WEB_APP_HOST_TEST_PROPERTY": get_property(ctx.source, 'a_simple_test')
    }
#end
}

#if($util.operationHasDeploymentArtifacts($operation))
node_artifacts = {
#foreach($nodeArtifactsEntry in $operation.allDeploymentArtifacts.entrySet())
#foreach($nodeArtifactEntry in $nodeArtifactsEntry.value.entrySet())
#set( $nodeArtifactPath = ${util.getArtifactPath(${nodeArtifactsEntry.key}, ${nodeArtifactEntry.key}, ${nodeArtifactEntry.value})} )
#deploymentArtifactEntry($nodeArtifactEntry.key, $nodeArtifactPath)
#end
#end
}

relationship_artifacts = {
#foreach($relationshipArtifactsEntry in $operation.allRelationshipDeploymentArtifacts.entrySet())
#foreach($relationshipArtifactEntry in $relationshipArtifactsEntry.value.entrySet())
#set($relationshipArtifactPath = ${util.getRelationshipArtifactPath(${relationshipArtifactsEntry.key.source}, ${relationshipArtifactsEntry.key.id}, ${relationshipArtifactEntry.key}, ${relationshipArtifactEntry.value})} )
#deploymentArtifactEntry($relationshipArtifactEntry.key, $relationshipArtifactPath)
#end
#end
}

artifacts = nodeArtifacts.copy()
artifacts.update(relationship_artifacts)

download_dir = os.path.join(os.path.dirname(os.path.realpath(__file__)), 'downloads')
os.makedirs(download_dir)
new_script_process.get("env").update(download_artifacts(artifacts, download_dir))
#end

execute(ctx.download_resource(${operation.implementationArtifact.artifactRef}), new_script_process)
