#parse("provider/common/generic_resource.yaml.vm")
#foreach($compute in ${deployment.computes})
  ${compute.id}:
    type: ${compute.nodeTemplate.type}
    properties: ${util.natives.formatProperties(3, $compute.nodeTemplate.properties, $deployment.propertyMappings.get($compute.nodeTemplate.type))}
#if(${compute.scalingPolicy})
    instances:
#if(${compute.scalingPolicy.initialInstances})
      deploy: ${compute.scalingPolicy.initialInstances}
#else
      deploy: 1
#end
#end

    interfaces:
      cloudify.interfaces.lifecycle:
        create:
          inputs:
            service_url: ${util.common.getScalarPropertyValue($compute.nodeTemplate, "host_pool_service_endpoint")}
        delete:
          inputs:
            service_url: ${util.common.getScalarPropertyValue($compute.nodeTemplate, "host_pool_service_endpoint")}
#parse("provider/common/monitoring_interfaces.yaml.vm")
#end
